<div class="main_container">
  <div class="container">
    

    <div class="row justify-content-center" style="text-align: left; margin-bottom:10px; margin-top: 50px;"> 
      <div class="col-12 col-sm-10 col-lg-8" style="padding-bottom: 12px; font-size: 28px; font-weight: bold;">
        <p>포인트 환전 신청 <span style="margin-left: 10px; font-weight:400;font-size: 12px;color: hsl(0, 0%, 45%); ">누적된 포인트를 환전해드리는 서비스입니다.</span></p>
      </div>
    </div>
    

    <%= render partial: "exchanges/form" %>

  </div>
</div>

