<div class="main_container">
  <div class="container p-0">
    
    <div class="row justify-content-center" style="text-align: left; margin-bottom:20px; margin-top: 30px; margin-left:0px; margin-right:0px"> 
      <div class="col-12 col-sm-10 col-lg-9" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding-bottom: 12px; font-size: 20px; font-weight: bold;">
        <p>임대인 코멘트 등록</p>
      </div>
    </div>
    <%= render partial: "owner_comments/form" %>

  </div>
</div>



