<% if resource.errors.any? %>
  <% resource.errors.full_messages.each_with_index do |message, index| %>
    <div class="alert alert-danger fade show mr-5" role="alert" style="z-index:9000; position:absolute; top: <%= 20 + (index * 100)%>px; right: 20px;">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="alert-heading pr-5">알림
      </h4>
      <hr class="my-2">
      <p class="mb-0"><%= message%> </p>
    </div>
   <% end %>
  <script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);
  </script>
<% end %>

