<div style="border-top:1px solid #E8E9E8;">
<div id="footer" class="container" style="padding: 70px 0;">
  <div class="row m-0">

    <div class="col-lg-12 px-3 d-block d-md-flex justify-content-between flex-wrap">
      <a class="d-block mb-2 footer_link"  style="color:#585865; font-weight: 700;" href="/notices">새소식</a>
      <a class="d-block mb-2 footer_link"  style="color:#585865; font-weight: 700;" href="#<%#/owner_comments/new%>">임대인 코멘트 작성하기</a>
      <%# <div class="w-100 mb-2 d-md-none"></div> %>
      <div class="service_box d-md-block d-blockrs justify-content-start">
        <p class="" style="margin-bottom:3px; color:#585865; font-weight: 700;">고객센터</p>
        <div class="" style="color:#5c6476 !important">
        <p style="font-size: 12px;">전화 <a href="tel:070-7704-6363" style="color:#585865; font-weight:600">070-7704-6363</a> (발신자 요금 부담)</p>
          <p style="font-size: 12px;">이메일 <a href="mailto:support@ohmybang.com" style="color:#585865; font-weight:600">support@ohmybang.com</a></p>
          <p style="font-size: 12px;">카톡 <a href="http://pf.kakao.com/_taFhxb/chat" target="_blank" class="sns"><span style="color:#585865; font-weight:600">@오마방</span></a></p>
          
        </div>
      </div>
      <%# <div class="w-100 d-md-none"><hr class=" mb-0"></div> %>
    </div>
    <%# <div class="footer_company col-lg-5 px-4 mt-5 mt-md-1 mt-lg-0 text-lg-right text-left"> %>
    <div class="col-12 col-md-8 order-2 order-md-1 footer_company px-3 mt-5">
      <p style="color: #747481 !important;">
        <a href="/admin" style="color: #747481; text-decoration: none; cursor: default;">캐리컬처(CarryCulture)</a> <span class="d-none d-md-inline-block">|</span> <br class="d-md-none">사업자등록번호 762-43-00288 <span class="d-none d-md-inline-block">|</span> <br class="d-md-none">대표 이영찬
      </p>
      <p style="color: #747481 !important;">통신판매업신고 2019-서울강남-05463 <a href="http://ftc.go.kr/www/bizCommView.do?key=232&apv_perm_no=2019322023630205463&pageUnit=10&searchCnd=wrkr_no&searchKrwd=7624300288&pageIndex=1" target="_blank"><span class="badge badge-secondary" style="font-weight: 400;">사업자정보확인</span></a></p>
      <p style="color: #747481 !important;">Fax : 02-589-8842</p>
      <p style="color: #747481 !important;">서울특별시 강남구 언주로 703, 5층 LX공간정보창업지원센터 <br class="d-md-none">(논현동, LX한국국토정보공사)</p>
      <div style="margin-top: 15px">
        <a class="footer_link" href="/policies/1" style="color: #747481 !important;">서비스이용약관</a><br class="d-md-none">
        <a class="footer_link" href="/policies/2" style="color: #747481 !important;">개인정보처리방침</a>
      </div>
      <%# <p>Copyright ⓒ 캐리컬처. All Rights Reserved</p> %>

    </div>

    <!-- KB에스크로 이체 인증마크 적용 시작 -->
    <div class="col-12 col-md-4 order-1 order-md-2 mt-5 text-md-right">
      <form name="KB_AUTHMARK_FORM" method="get">
        <input type="hidden" name="page" value="B009111"/>
        <input type="hidden" name="cc" value="b010807:b008491"/>
        <input type="hidden" name="mHValue" value='c55e81d4d516a11e14befa98a406cf2320191213163935'/>
      </form>
      <a href="#" onclick="javascript:onPopKBAuthMark();return false;">
        <img src="http://img1.kbstar.com/img/escrow/escrowcmark.gif" border="0" style="background-color: transparent; width:60px"/>
      </a>
    </div>
    <script>
      function onPopKBAuthMark() {
        window.open('','KB_AUTHMARK','height=604, width=648, status=yes, toolbar=no, menubar=no, location=no');
        document.KB_AUTHMARK_FORM.action='https://escrow1.kbstar.com/quics';
        document.KB_AUTHMARK_FORM.target='KB_AUTHMARK';
        document.KB_AUTHMARK_FORM.submit();
      }
    </script>
    <!-- KB에스크로 이체 인증마크 적용 종료 -->

     
    
  </div>
</div>
</div>