<div class="modal fade" id="thirdModalCenter" tabindex="-1" role="dialog" aria-labelledby="registrationModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registrationtModalCenterTitle">정부 24시 주민등록 초본 제 3자 제출 방법</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body" style="font-size:0.9rem">
          <p>온라인 발급 시 아래의 이미지를 참고해주세요.

            <a href="https://blog.naver.com/oh_mybang/221795373789" target="_blank"
              style="font-size: 12px; text-decoration: underline; color: #747481; float: right;line-height: 1.35rem;">발급
              방법 자세히 보러가기</a>
          </p>

          <img class="mt-1" src="<%= image_url("img/registration.png")%>" alt="" style="width:100%" />
      </div>
      <div class="modal-footer">
        <a href="http://www.gov.kr/portal/main" target="_blank" style="position: absolute; padding-left:1rem; left:0; font-size:12px; color:#888888">초본 발급 하러가기</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>