@font-face {
    font-family: 's-core-dream-thin';
    src: url('/fonts/s_core_dream_light/scdream1-webfont.woff2') format('woff2'),
         url('/fonts/s_core_dream_light/scdream1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-extralight';
    src: url('/fonts/s_core_dream_light/scdream2-webfont.woff2') format('woff2'),
         url('/fonts/s_core_dream_light/scdream2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-light';
    src: url('/fonts/s_core_dream_light/scdream3-webfont.woff2') format('woff2'),
         url('/fonts/s_core_dream_light/scdream3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-regular';
    src: url('/fonts/s_core_dream_light/scdream4-webfont.woff2') format('woff2'),
         url('/fonts/s_core_dream_light/scdream4-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-medium';
    src: url('/fonts/s_core_dream_light/scdream5-webfont.woff2') format('woff2'),
         url('/fonts/s_core_dream_light/scdream5-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-bold';
    src: url('/fonts/s_core_dream_light/scdream6-webfont.woff2') format('woff2'),
         url('/fonts/s_core_dream_light/scdream6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-extrabold';
    src: url('/fonts/s_core_dream_light/scdream7-webfont.woff2') format('woff2'),
         url('/fonts/s_core_dream_light/scdream7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-heavy';
    src: url('/fonts/s_core_dream_light/scdream8-webfont.woff2') format('woff2'),
         url('/fonts/s_core_dream_light/scdream8-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-black';
    src: url('/fonts/s_core_dream_light/scdream9-webfont.woff2') format('woff2'),
         url('/fonts/s_core_dream_light/scdream9-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}