<p>안녕하세요!</p>

<p>누군가 비밀번호를 변경하기위한 링크를 요청했습니다. 아래 링크를 통해이 작업을 수행 할 수 있습니다.</p>

<p><%= link_to '비밀번호 변경하기', edit_password_url(@resource, reset_password_token: @token) %></p>

<p> 요청하지 않은 경우이 이메일을 무시하십시오.</p>
<p> 위의 링크를 통해 새 비밀번호를 만들 때까지 비밀번호가 변경되지 않습니다.</p>