<div class="box">
  <div class="container h-100" style="position: relative; padding-top: 146px;">
    <div class="row d-flex justify-content-center"style="width:100%; position: absolute; top:60%;transform:translate(0%, -50%);-webkit-transform:translate(0%, -50%);z-index:1;">
      <div class="col-12 col-sm-10 col-lg-8" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);padding-bottom: 12px;font-size: 20px;font-weight: bold;">
        <p>오마방 사용법</p>
        <a href="/sample" class="btn btn-green radius" style="padding: 5px 10px; font-size: 12px; position: absolute; font-size: 12px; bottom: 0; right: 5px;">샘플 리뷰 보기</a>
      </div>
      <div class="w-100" style="margin-top:30px;"></div>
      <div class="col-6 col-sm-4 col-lg-4 text-center">
        <img class=""src="<%= image_url("review_manual.png")%>" style="width:100%;"/>
      </div>
      <div class="col-6 col-sm-6 col-lg-4 text-left d-flex flex-column justify-content-center">
        <p class="manual_txt"><span class="manual_txt_emph">간편하게 리뷰를 작성</span>하세요</p>
        <p class="manual_txt"><span class="manual_txt_emph">리뷰가 구매</span>되면</p>
        <p class="manual_txt"><span class="manual_txt_emph">수익을 당신에게</span> 드립니다!</p>
      </div>
      <div class="col-12 col-sm-10 col-lg-8 text-center">
        <div class="mt-5">
          <a href="/reviews/new" class="btn btn-green radius">리뷰쓰기</a>
          <a href="/users/sign_up_before_policy" class="btn btn-outline-green radius">회원가입</a>
        </div>
      </div>
    </div>
  </div>
</div>