<p>제1장 총칙</p>
<p>제1조 목적이 약관은 캐리컬처(이하 "회사"라 합니다)가 제공하는 서비스(이용고객 또는 회원 이 PC, 멀티미디어 모바일 등의 각종 디지털기기 또는 프로그램을 통하여 이용할 수 있도록 회사가 제공하는 모든 서비스를 의미합니다. 이하 같습니다.)와 관련하여, 회사와 이용고객(또 는 회원)간에 서비스 이용조건 및 절차, 회사와 회원간의 권리 의무 및 책임사항 기타 필요한 사항을 규정함을 목적으로 합니다.제2조 약관의 효력과 변경1 이 약관은 캐리컬처가 제공하 는 모든 인터넷서비스에 게시하여 공시합니다. "회사"는 "약관의 규제에 관한 법률", "정보통신 망 이용촉진 및 정보보호 등에 관한 법률" 등 관련법에 위배하지 않는 범위에서 이 약관을 변 경할 수 있으며, 회사는 약관이 변경되는 경우에 변경된 약관의 내용과 시행일을 정하여, 그 시행일로부터 최소7일 (이용자에게 불리하거나 중대한 사항의 변경은 30일) 이전부터 시행일 후 상당한 기간 동안 공지하고, 기존 이용자에게는 변경된 약관, 적용일자 및 변경사유(변경될 내용 중 중요사항에 대한 설명을 포함)를 전자우편주소 또는 문자 메시지 등으로 발송합니다. 변경된 약관은 공시하거나 고지한 시행일로부터 효력이 발생합니다.2 이용자는 변경된 약관 에 대해 동의하지 않을 권리가 있으며, 시행일로부터 10일(이용자에게 불리하거나 중대한 사 항의 변경인 경우에는 30일) 내에 변경된 약관에 대해 거절의 의사를 표시하지 않았을 때에는 본 약관의 변경에 동의한 것으로 간주합니다.3 본 약관에서 규정된 내용이 개별 서비스 약관 에서 정한 이용 규정과 충돌하는 경우에는 개별 서비스 약관의 규정이 우선하여 적용됩니다. 제3조 약관의 적용이 약관에 명시되지 아니한 사항에 대하여는 별도의 세부 약관, 상관행, 회 사의 공지, 이용안내, 관계법령에서 정한 바에 따릅니다.</p>
<p>제2장 이용계약의 체결</p>
<p>제4조 서비스의 구분1 "회사"가 이용고객에게 제공하는 "서비스"는 무료서비스, 유료서비스 등으로 구분합니다.2 무료서비스, 유료서비스 등의 종류와 이용방법 등은 이 약관 및 "회사" 가 공지 또는 이용안내에서 별도로 정하는 바에 의합니다. 제5조 이용계약의 성립 및 체결단 위1 이용계약은 이용고객의 이용신청에 대한 "회사"의 이용승낙으로 성립합니다.2 이용계약 은 아이디 단위로 체결합니다.3 "서비스"의 대량이용 등 특별한 "서비스" 이용에 관한 계약은 별도의 계약으로 합니다.4 회원이 유료서비스를 이용하기 위한 방안은 홈페이지에 게시하는 이용권구매 페이지에 따릅니다.제6조 이용신청1 "서비스"의 이용을 원하는 고객(이하 "이용신청 고객"이라 합니다)은 인터넷 접속등의 방식으로 "회사"가 소정의 가입신청 양식에서 요구하는 사항을 기입하여 이용신청을 하여야 합니다.2 "회사"는 이 약관의 주요 내용을 "이용신청고객 "에게 고지하여야 합니다.3 "이용신청고객"이 전항의 고지 하단에 있는, 동의 버튼을 클릭하 거나 또는 체크박스에 체크하고 이용신청을 하는 것은 이 약관에 대한 동의로 간주됩니다.4 이용신청은 "이용신청고객" 자신이 임의적으로 만든 이메일을 사용하는 고객입니다.5 회원 또 는 회원으로 가입하고자 하는 “이용신청고객”은 당사 홈페이지의 포인트를 환전할 시 회사가 제공하는 본인확인 방법을 통하여 서비스를 이용할 수 있으며, 본인명의로 등록하지 않은 사 용자는 일체의 권리를 주장할 수 없습니다.6 타인의 정보(아이핀 및 휴대폰정보 등)를 도용하 여 이용신청을 한 회원의 모든 ID는 삭제됩니다.제7조 이용신청의 승낙1 "회사"는 전조의 규 정에 의한 이용신청에 대하여 업무수행상 또는 기술상 지장이 없는 경우에는 원칙적으로 지체 없이 이용신청을 승낙합니다.2 "회사"는 이용신청을 승낙하는 때에는 다음 각호의 사항을 이 용고객에게 "서비스"를 통하거나, 전자우편등의 방법으로 통지합니다</p>
<p>1. 아이디</p>
<p>2. 이용고객의 권익보호 및 의무 등에 관한 사항</p>
<p>3. 기타 이용고객이 "서비스" 이용 時 알아야 할 사항</p>
<p>제8조 이용신청에 대한 불승낙과 승낙의 보류1 "회사"는 다음 각호에 해당하는 이용신청에 대하여는 승낙을 하지 아니 할 수 있습니다.</p>
<p>1. 타인 명의의 이메일(이하 “아이디”라 합니다.)이나 존재하지 않는 아이디 신청</p>
<p>2. 기존에 사용되고 있는 아이디 또는 공서양속을 저해하는 표시의 아이디를 사용하고자 하는 신청</p>
<p>3. 허위의 신청이거나 허위서류를 첨부한 경우</p>
<p>4. 기타 "이용신청고객"의 귀책사유로 이용승낙이 곤란한 경우</p>
<p>2 "회사"는 다음 각호의 1에 해당하는 사유가 있는 경우에는 그 사유가 해소될 때까지는 승 낙을 보류할 수 있습니다.</p>
<p>1. 회사의 설비에 여유가 없는 경우</p>
<p>2. "서비스"에 장애가 있는 경우</p>
<p>제9조 아이디 부여등1 "회사"는 원칙적으로 "이용신청고객"이 신청한대로 아이디를 부여합니 다.2 아이디는 변경할 수 없는 것을 원칙으로 합니다.3 아이디가 다음 각호에 해당하는 경 우에는 "회사"는 해당 이용고객에 대한 "서비스" 제공을 중단하고, 새로운 아이디로 이용신청 할 것을 권할 수 있습니다.</p>
<p>1. 아이디가 이용고객의 전화번호 또는 주민등록번호 등으로 등록되어 사생활 침해의 우려가 있는 경우</p>
<p>2. 타인에게 혐오감을 주거나 공서양속을 해치는 경우</p>
<p>3. 기타 이용고객의 보호를 위한 합리적인 사유가 있는 경우</p>
<p>제10조 서비스의 개시"서비스"는 이용승낙일에 개시 됩니다.</p>
<p>제3장 계약당사자의 의무</p>
<p>제11조 회사의 의무1 "회사"는 이용고객으로부터 제기되는 의견이나 불만이 정당하다고 인정 할 경우에는 즉시 처리하여야 합니다. 다만, 즉시 처리가 곤란한 경우에는 이용고객에게 그 사유와 처리일정을 전자우편등으로 통보하여야 합니다.2 "회사"는 계속적이고 안정적인 "서비 스"의 제공을 위하여 설비에 장애가 생기거나 멸실된 때에는 이를 지체 없이 수리 또는 복구 하며, 다음 각 호의 사유 발생 시 부득이한 경우 예고 없이 서비스의 전부 또는 일부의 제공 을 일시 중지할 수 있습니다. 이 경우 그 사유 및 중지 기간 등을 이용자에게 지체 없이 사후 공지합니다.</p>
<p>1. 회사가 긴급한 시스템 점검, 증설, 교체, 시설의 보수 또는 공사를 하기 위하여 부득이한 경우</p>
<p>2. 새로운 서비스 시스템으로의 교체 등을 위하여 회사가 필요하다고 판단하는 경우</p>
<p>3. 시스템 또는 기타 서비스 설비의 장애, 유무선 Network 장애 등으로 정상적인 서비스 제 공이 불가능할 경우</p>
<p>4. 천재지변, 국가비상사태, 정전 등 회사가 통제할 수 없는 불가항력적 사유로 인한 경우</p>
<p>3 "회사"는 이용계약의 체결, 계약사항의 변경 및 해지 등 이용고객과의 계약관련 절차 및 내 용 등에 있어 이용고객에게 편의를 제공하도록 노력합니다.4 회사는 대표자의 성명, 상호, 주 소, 전화번호, 모사전송번호(FAX), 통신판매업 신고번호, 이용약관, 개인정보취급방침을 회원 이 쉽게 알 수 있도록 온라인 서비스 초기화면에 게시합니다 .제12조 개인정보보호"회사"는 이용자들의 개인정보를 중요시하며, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인</p>
<p></p>
<p>정보보호법, 전기통신사업법 등 관련 법규를 준수하고 있습니다. "회사"는 개인정보보호정책을 통하여 이용고객이 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보 호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.제13조 이용고객의 의무1 이용고객 은 회원가입을 통해 이용신청을 할 경우 사실에 근거하여 작성하여야 합니다. 회원이 허위, 또는 타인의 정보를 등록한 경우 회사에 대하여 일체의 권리를 주장할 수 없으며, 회사는 이 로 인하여 발생하는 손해에 대하여 책임을 부담하지 않습니다2 이용고객은 본 약관에서 규정 하는 사항과 기타 회사가 정한 제반 규정, 회사가 공지하는 사항을 준수하여야 합니다. 또한 회원은 회사의 업무에 방해가 되는 행위, 회사의 명예를 손상시키는 행위를 해서는 안됩니다. 3 회원은 청소년 보호법 등 관계 법령을 준수하여야 합니다. 회원이 청소년 보호법 등 관계 법령을 위반한 경우는 해당 법령에 의거 처벌을 받게 됩니다.4 회원은 주소, 연락처, 전자우 편 주소 등 이용계약 사항이 변경된 경우에 즉시 온라인 상에서 이를 수정해야 합니다. 수정 을 하지 않거나 수정 지연으로 발생되는 책임은 회원에게 있습니다.5 회원은 회원에게 부여 된 아이디와 비밀번호를 직접 관리해야 합니다. 회원의 관리 소홀로 발생한 문제는 회사에서 책임지지 않습니다.6 회원이 아이디, 닉네임, 기타 서비스 내에서 사용되는 명칭 등의 선정 시에는 다음 각 호에 해당하는 내용을 사용하여서는 안됩니다.</p>
<p>1. 회사가 제공하는 서비스의 공식 운영자를 사칭하거나 유사한 명칭을 사용하여 다른 이용고 객에게 혼란을 초래하는 행위</p>
<p>2. 선정적이고 음란한 내용이 포함된 명칭의 사용</p>
<p>3. 제3자의 상표권, 저작권 등의 권리를 침해할 가능성이 있는 명칭의 사용</p>
<p>4. 비어, 속어라고 판단되거나 반사회적이고 관계법령에 저촉되는 내용이 포함된 명칭의 사용 7 회원은 회사의 명시적 동의가 없는 한 서비스 이용 권한, 기타 이용 계약상의 지위를 타인 에게 매도, 증여할 수 없으며 무형자산을 담보로 제공할 수 없습니다.8 이용고객은 회사에서 제공하는 서비스를 본래의 이용목적 이외의 용도로 사용해서는 안됩니다. 이용고객은 아래 각 호의 행위를 하여서는 안되며, 이에 해당되는 행위를 할 경우에는 본 약관 및 각 서비스 별로 공지하는 운영정책에 따라 이용고객의 서비스 이용을 제한하거나 아이디의 삭제, 수사기관의 고발 조치 등 적법한 조치를 포함한 제재를 가할 수 있습니다.</p>
<p>1. 회원 가입 또는 변경 시 개인정보에 허위 내용을 기재하는 행위</p>
<p>2. 타인의 개인 정보(이메일, 주민등록 초본, 주민등록증 뒷면, 통장 사본, 계약서 등)를 도용 하거나 부정하게 사용하는 행위</p>
<p>3. 회원의 아이디 등 사이버 자산을 타인과 매매하는 행위</p>
<p>4. 회사의 운영진 또는 직원을 사칭하는 행위</p>
<p>5. 회사의 클라이언트 프로그램을 변경하거나, 회사의 서버를 해킹하는 행위</p>
<p>6. 회사 프로그램 상의 버그를 악용하는 행위</p>
<p>7. 회사의 사전 승낙 없이 서비스를 이용하여 영업활동을 하는 행위</p>
<p>8. 다른 이용고객을 희롱 또는 위협하거나 다른 이용고객에게 고통, 피해, 또는 불편을 주는 행위</p>
<p>9. 회사로부터 승인 받지 아니하고 각 서비스의 클라이언트 프로그램을 변경하거나, 서버를 해킹하거나 또는 웹사이트의 일부분을 변경하는 행위, 또는 이러한 목적으로 개발, 유포되는 프로그램을 사용하거나 이의 사용을 장려 또는 광고하는 행위</p>
<p>10. 회사의 게시물 또는 타인의 게시물 일부분 또는 전체를 임의로 변경하거나 삭제하는 행위 11. 회사의 승인을 받지 않고 다른 회원의 개인정보를 수집 또는 저장하는 행위</p>
<p></p>
<p>12. 회사의 허가 없이 소프트웨어 또는 하드웨어를 이용하여 서비스 내 내용에 권한 없이 관 여하는 소프트웨어 혹은 하드웨어를 사용, 배포하거나 사용을 장려하거나 이에 대한 광고를 하는 행위</p>
<p>13. 회사가 제공하는 서비스 프로그램의 이용방식, 기획의도를 변경하거나 서비스에 비정상적 으로 위해를 가하거나 고의로 방해하는 일체의 행위</p>
<p>14. 본 서비스를 통해 얻은 정보를 회사의 사전 승낙 없이 서비스 이용 외의 목적으로 복제하 거 나, 이를 출판 및 방송 등에 사용하거나, 제3자에게 제공하는 행위</p>
<p>15.1 공공질서 및 미풍양속에 위반되는 저속하거나 음란한 내용의 정보, 문장, 도형, 음향, 동 영상 또는 불법 복제된 소프트웨어를 전송, 게시, 전자우편 또는 기타 방법으로 타인에게 유 포하는 등 불법적인 목적으로 서비스를 이용하는 행위</p>
<p>15.2 결제기관을 속여 부정한 방법으로 결제하거나 지불거절(Chargebeck)을 악용하여 정당한 이유 없이 유료서비스를 구매하거나 환불하는 경우</p>
<p>15.3 정당한 목적 외에 자금을 제공 또는 융통하기 위해 휴대폰이나 상품권 등을 통해 유료서 비스를 이용, 결제, 구매, 환전, 환불하는 행위. 이를 돕거나 권유, 알선, 중개 기타 광고하는 행위</p>
<p>16. 본 약관을 포함하여 기타 회사가 정한 제반 규정 또는 이용 조건을 위반 하는 행위 및 기 타 관계 법령에 위배되는 행위</p>
<p>17. 서비스 내 리뷰(이하 “게시물”이라 합니다.)등록 시, 제3자의 지적재산권이 포함되어 있는 사진, 영상을 업로드 할 경우</p>
<p>제14조 이용자의 사망시 게시물 및 이용권(이하 “아이템”이라 합니다.)의 처리1 이용고객의 다 른 의사표시가 없으면, 이용고객의 사망 시 오마방 계정에서 보유하는 모든 컨텐츠는 회사에 귀속되며, 회사는 이용고객의 개인정보가 포함된 컨텐츠의 경우 「정보통신망 이용촉진 및 정 보보호에 관한 법률」 등 관련 법률상 개인정보 처리 조항에 따라 처리합니다.2 이용고객은 이용기간 중 회사에 대하여 [서비스 관리자에 대한 이메일을 통해] 이용고객의 사망 시 상속 가능한 컨텐츠에 대하여 이전을 선택할 수 있고, 이전을 희망할 경우 이전 받을 양수인의 인 적사항을 기재하여 이전 신청을 할 수 있습니다.3 회사는 이용자가 컨텐츠 처리 방법을 지정 한 경우, 이용자의 사망 시 그 방법에 따라 컨텐츠를 처리합니다</p>
<p>제4장 서비스의 제한, 정지 등</p>
<p>제15조 서비스의 제한 등1 "회사"는 전시, 사변, 천재지변 또는 이에 준하는 국가비상사태가 발생하거나 발생할 우려가 있는 경우와 전기통신사업법에 의한 기간통신사업자가 전기통신서 비스를 중지하는 등 부득이한 사유가 있는 경우에는 서비스의 전부 또는 일부를 제한하거나 중지할 수 있습니다.2 무료서비스는 전항의 규정에도 불구하고, "회사"의 경영정책 등의 사유 로 서비스의 전부 또는 일부가 제한되거나 중지될 수 있으며, 유료로 전환될 수 있습니다.3 " 회사"는 "서비스"의 이용을 제한하거나 정지하는 때와 무료서비스를 유료로 전환하는 때에는 그 사유 및 제한기간, 예정일시 등을 지체 없이 이용고객에게 알려야 합니다.4 회사는 최종 사용일로부터 연속하여 1년 동안 서비스 사용 이력이 없는 경우 "정보통신망 이용촉진 및 정 보보호에 관한 법률"의 규정에 의하여 회원정보를 영구적으로 삭제할 수 있습니다. 단, 유료결 제 상품을 보유 하고 있을 경우 삭제 대상에서 제외 되며 관련 법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 관계법령에서 정한 일정기간 동안 회원정보를 보관합니다.제16조 서 비스의 제공중단, 이용제한 등1 "회사"는 이용고객이 유료서비스의 요금등을 지정한 기일로부</p>
<p></p>
<p>터 1개월 이상 납부하지 않을 경우에는 전부 또는 일부의 서비스제공을 중단할 수 있습니다. 2 "회사"는 이용고객이 다음 각호에 해당하는 경우에는 이용고객의 서비스 이용을 일부 또는 전부 제한할 수 있습니다.</p>
<p>1. 제13조 제3항, 제8항의 규정에 의한 각 의무를 이행하지 않는 경우</p>
<p>2. 다량의 정보를 전송하여 서비스의 안정적 운영을 방해하는 경우</p>
<p>3. 수신자의 의사에 반하는 광고성 정보, 전자우편을 지속적으로 전송하는 경우</p>
<p>4. 정보통신설비의 오작동이나 정보의 파괴를 유발하는 컴퓨터 바이러스 프로그램 등을 유포 하는 경우</p>
<p>5. 제3자의 지적재산권을 침해하는 경우</p>
<p>6. 방송통신심의위원회로부터 이용제한 요구 대상인 경우</p>
<p>7. 선거관리위원회의 유권해석 상의 불법선거운동을 하는 경우</p>
<p>8. 다른 이용고객의 아이디를 부정하게 사용하는 경우</p>
<p>9. 전기통신관련법령등을 위반하는 행위를 하는 경우</p>
<p>3 전항의 규정에 의하여 이용고객의 이용을 제한하는 경우, 제한의 종류 및 기간 등 구체적 인 기준은 "회사"의 공지, 이용안내 등에서 별도로 정하는 바에 따릅니다.제17조 이용제한 및 해제절차1 "회사"가 제15조 또는 제16조에 의하여 이용제한을 하고자 하는 때에는 그 사유, 일시 및 기간을 정하여 이용제한 7일 전까지 전화 또는 전자우편 등의 방법으로 해당 이용고 객 또는 대리인에게 통지합니다. 다만, 긴급하게 이용을 제한할 필요가 있을 경우에는 사유 등을 고지함과 동시에 이용이 제한될 수 있습니다.2 전항의 규정에 의하여 이용정지의 통지 를 받은 이용고객 또는 대리인은 그 이용정지의 통지에 대하여 이의가 있을 때에는 이의신청 을 할 수 있습니다.3 "회사"는 이용정지 기간 중에 그 이용정지 사유가 해소된 것이 확인된 경우에는 이용정지조치를 즉시 해제합니다.4 "회사"는 이용자의 부당행위가 고의 또는 과실이 없었음이 입증된 경우에는 이용자가 이용중인 유료 상품에 대한 이용기간을 정지된 기간만큼 연장해주도록 합니다.제18조 서비스의 해제·해지 및 청약철회1 회원이 이용 계약을 해지하고 자 할 때에는 언제든지 홈페이지 상의 회원 탈퇴 신청을 통해 이용계약 해지를 요청할 수 있 습니다. 단, 신규가입 후 일정시간 이내에는 "서비스" 부정이용 방지 등의 사유로 즉시 탈퇴가 제한될 수 있습니다.2 회사는 회원이 본 약관에서 정한 회원의 의무를 위반한 경우 등 비정 상적인 이용 또는 부당한 이용과 이용자 금지프로그램 사용하는 경우 또는 타인의 명예를 훼 손하거나 모욕하는 방송과 게시물을 작성한 경우 이러한 행위를 금지하거나 삭제를 요청하였 음에도 불구하고 계속되는 경우 등의 이유로 회원에게 사전에 고지하고, 계약을 해지할 수 있 습니다.3 회사는 회원이 원활하게 계약을 해지할 수 있도록 계약 체결 시 사용한 방법에 추 가하여 계약 해지의 수단으로서 아래와 같은 방법을 제공합니다.</p>
<p>- 고객센터 전화 : 010-2926-6365</p>
<p>- 고객센터 카카오톡 : 오마방</p>
<p>- 고객센터 이메일 주소 : support@ohmybang.com</p>
<p>4 회사는 이용고객의 청약철회, 해제 또는 해지의 의사표시를 수신한 후 지체 없이 그 사실 을 이용고객에게 회신합니다. 회신은 이용고객이 회사에 대하여 고지한 방법 중 하나에 의하 고, 이용고객이 회사에 대하여 고지한 연락처가 존재하지 않는 경우에는 회신하지 않을 수 있 습니다.5 유료서비스를 이용하는 이용고객은 관련법령에 따라 청약철회 등을 할 수 있는바, 이에 대하여는 유료서비스약관을 참조하시기 바랍니다.</p>
<p>제5장 손해배상</p>
<p></p>
<p>제19조 손해배상 1 "회사"는 무료서비스의 장애, 제공 중단, 보관된 자료 멸실 또는 삭제, 변 조 등으로 인한 손해에 대하여는 배상하지 않습니다. 다만, 회사의 고의 또는 중대한 과실로 인하여 발생한 경우는 제외합니다.2 "회사"는 "회사"의 귀책사유로 인하여 회원에게 서비스를 제공하지 못하는 경우 유료 서비스 이용자에게는 공정거래위원회가 고시한 소비자분쟁해결기 준에 따라 보상합니다.3 "회사"는 "콘텐츠"의 하자, 이용중지 또는 장애 등에 의하여 발생한 " 이용자"의 손해에 대하여 보상 또는 배상합니다.4 제3항에 따른 손해배상 등의 방법 및 절차 는 "콘텐츠이용자보호지침"에 따라 처리하며, 기타 손해배상의 방법, 절차 등은 관계법령에 따 릅니다.제20조 면책1 "회사"는 이용고객이 "회사"의 "서비스" 제공으로부터 기대되는 이익을 얻지 못한 데 대하여 책임이 없습니다.2 "회사"는 제3자가 게시 또는 전송한 자료로 인한 이 용고객의 손해에 대하여는 책임이 없습니다.3 "회사"는 이용고객 상호간 또는 이용고객과 제3 자 간에 "서비스"를 매개로 발생한 분쟁에 대하여는 개입할 의무도 이로 인한 손해를 배상할 책임도 없습니다.</p>
<p>제6장 보칙</p>
<p>제21조 자료의 저장"회사"는 이용고객이 제공하는 정보, 자료에 대하여 회사의 공지, 서비스 이용안내에서 정한 바에 따라 일정한 게재기한 및 용량을 정할 수 있습니다.제22조 공개 게시 물 등의 관리1 "회사"는 건전한 통신문화정착과 효율적 서비스 운영을 위하여 다음 각호에 해당하는 공개 게시물, 자료를 삭제, 이동, 등록거부 하는 등의 필요조치를 취할 수 있습니다. 이 경우 게시물 및 자료의 삭제 등에 대하여 회사는 어떠한 책임도 부담하지 않습니다.</p>
<p>1. 타인의 법률상 이익을 침해하는 행위와 관련된 것으로 추정되는 게시물, 자료로서, 이해당 사자의 삭제 등 요청이 있거나, 회사가 피소, 고발될 수 있는 사유를 제공하는 게시물, 자료 2. 서비스에 위해를 가할 소지가 있는 바이러스 등이 포함된 게시물, 자료</p>
<p>3. 제19조에 의하여 정해진 게재기한 및 용량을 초과한 게시물, 자료(이 경우 회사는 사전에 해당 이용고객에게 삭제, 이동 등에 관한 안내를 할 수 있습니다)</p>
<p>4. 다른 이용고객의 서비스 이용에 현저한 지장을 초래하는 게시물, 자료</p>
<p>5. 전기통신 관계법령 및 형사 관계법령에 따른 국가기관 등의 삭제 등 요구가 있는 게시물, 자료</p>
<p>2 "회사"는 게시물 등에 대하여 제3자로부터 명예훼손, 지적재산권 등의 권리 침해를 이유로 게시중단 요청을 받은 경우 이를 임시로 게시중단(전송중단)할 수 있으며, 게시중단 요청자와 게시물 등록자 간에 소송, 합의 기타 이에 준하는 관련기관의 결정 등이 이루어져 회사에 접 수된 경우 이에 따릅니다.3 해당 게시물 등에 대해 임시게시 중단이 된 경우, 게시물을 등록 한 회원은 재게 시(전송재개)를 회사에 요청할 수 있으며, 게시 중단일로부터 30일 이내에 재 게시를 요청하지 아니한 경우 회사는 이를 삭제할 수 있습니다.제23조 정보의 제공 및 광고의 게재1 "회사"는 이용고객이 서비스 이용 중 필요하다고 인정되는 각종 정보를 게재, 전자우편 (E-Mail), 휴대폰 단문메세지(SMS), 전화, 우편 등의 방법으로 회원에게 제공(또는 전송)할 수 있습니다. 이용고객은 이를 원하지 않을 경우에 회사가 제공하는 방법에 따라 수신을 거부할 수 있습니다.2 전항 단서에 따른 수신 거부 이용고객의 경우에도 이용약관, 개인정보보호정 책, 기타 이용고객의 이익에 영향을 미칠 수 있는 중요한 사항의 변경 등 이용고객이 반드시 알고 있어야 하는 사항에 대해서는 전자우편 등의 방법으로 정보의 제공 등을 할 수 있습니 다.3 회사는 광고주의 판촉 활동에 이용고객이 참여하거나, 거래의 결과로서 발생하는 손실 또는 손해에 대해서는 책임을 지지 않습니다.제24조 지적재산권1 "회원"은 "서비스" 에 제공 한 "회원"의 "콘텐츠"(영상파일, 사진 및 그림, 리뷰등록에 게시한 글 및 기타 홈페이지에 작성</p>
<p></p>
<p>한 게시글, 증빙서류에 업로드 한 주민등록 초본, 부동산 계약서, 주민등록증 뒷면, 환전 시 필요한 통장사본 및 본인인증에 관한 일체의 서류 등 "회원"이 서비스에 제공하거나 서비스를 이용하면서 업로드한 자료 일체)와 관련하여 저작권, 인격권 등 제 3자와의 분쟁 발생시 그 법적 대응 및 결과에 대한 책임을 지며, "회사"는 해당 "콘텐츠"와 관련된 일체의 책임을 명시 적으로 부인합니다.2 "회사"는 "서비스"를 통한 저작권 침해행위나 지적재산권 침해를 허용하 지 아니하며, "회원"의 "콘텐츠"가 타인의 지적재산권을 침해한다는 사실을 적절하게 고지받거 나 인지하게 되는 경우 저작권법 기타 관련 법령에서 정한 절차에 따라 그 "콘텐츠" 일체의 서비스를 수정 및 보완, 중지하거나 제거할 수 있습니다. 또한 "회사"는 "회원"의 "콘텐츠"가 " 서비스" 운영 상의 문제가 있다고 판단하는 경우 사전통지 없이 삭제하거나 이동 또는 등록 거부할 수 있는 권리를 보유합니다.3 "회원"의 "콘텐츠"에 대한 저작권은 원래의 저작자가 보 유하되, 본 약관이 정하는 바에 따라 "회사" 혹은 "회사가 지정한 자"에게 "콘텐츠"에 대한 사 용 권한을 부여합니다. "회사"가 "회원"의 "콘텐츠"를 사용하는 용도와 방법은 아래와 같습니 다.</p>
<p>(i) "회원"이 "서비스"에 제공한 "콘텐츠"를 타 회원 기타 이용자가 유료 및 무료서비스로 이용 가능하도록 함.</p>
<p>(ii) "회원"이 "서비스"에 제공한 "콘텐츠"를 "회사"가 녹화/편집/변경하여 새로운 콘텐츠로 제작 한 다음 이를 "서비스"의 타 회원 기타 이용자들이 이용하게 하거나, 또는 "회사"의 제휴사에 제공하여 그 이용자들이 이를 활용할 수 있도록 함.</p>
<p>(iii) "회원"이 "서비스"에 제공한 "콘텐츠"를 "회사"가 원본 또는 재가공하여 이를 온라인(네이 버, 인스타그램, 페이스북 등 “SNS” 전반) 및 오프라인(카탈로그, 포스터, 탬플릿)에서 "서비 스" 회원 기타 이용자들이 구독, 시청 등 이용할 수 있게 하거나, "회사"의 제휴사에 제공함으 로써 제휴사가 그 이용자들에게 유료 및 무료서비스로 활용 가능할 수 있게끔 함</p>
<p>4 본 조 제3항에 규정한 "회사", "타 회원 기타 이용자" 및 "회사의 제휴사"가 "회원"의 "콘텐 츠"를 이용할 수 있는 조건은 아래와 같습니다.</p>
<p>(i) 콘텐츠 이용 매체/플랫폼 - 현재 알려져 있거나 앞으로 개발된 모든 형태의 매체, 장비, 기술을 포함함.</p>
<p>(ii) 콘텐츠 이용 용도 - 상업적 또는 비상업적 이용을 구분하지 않음.</p>
<p>(iii) 콘텐츠 이용 범위 - 국내 및 국외에서의 복제, 수정, 각색, 공연, 전시, 방송, 배포, 대여, 공중송신, 2차적 저작물 작성, 기타 이용</p>
<p>(iv) 콘텐츠 이용 조건 - 비독점적, 지속적인 무상의 권리로서 양도 가능하며, 취소 불가하고 서브 라이센스가 가능함.</p>
<p>5 본 조 제3항의 "회원"의 사용허락은 "회사"가 공지, 이용안내에서 정한 바에 따라 장래에 대하여 철회할 수 있습니다.제25조 관할법원과 준거법1 서비스 이용에 관하여 회사와 이용자 간에 분쟁이 발생한 경우 협의로 원만히 해결합니다2 전항으로 해결되지 아니할 경우 소송의 관할은 “회사”의 주소를 기준으로 합니다.3 본 약관의 해석 및 적용은 대한민국 법령을 기준 으로 합니다.제26조 자료 전송 기술 사용동의"회사"는 자료의 전송을 위하여 이용자 간에 데 이터를 중계 전송하는 기술을 사용할 수 있습니다. 이용고객은 이 약관을 통해, PC 등 자신의 이용장치를 통하여 다른 사람이 중계 전송 받는 것을 허용하는데 동의합니다. 전송기술에 대 한 세부적인 사항은 이용안내 등에서 게시하여 고지하며, 추가적인 내용에 대한 세부 동의는 별도의 파일전송관리자 이용약관에 대한 동의를 통하여 합니다.</p>
<p>제2조 위치정보관리책임자 및 담당자는 2019년 12월을 기준으로 다음과 같이 지정합니다.</p>
<p></p>
<p>개인정보 관리 책임자이름 : 이영찬 소속 : 오마방</p>
<p>직위 : 대표</p>
<p>연락처: 010-2926-6365</p>
<p>E-mail : support@ohmybang.com 개인정보 관리 담당자이름 : 김성수 소속 : 오마방</p>
<p>직위 : 팀장</p>
<p>연락처: 010-9880-4483</p>
<p>E-mail : support@ohmybang.com</p>